
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --home-bg-color: #1b2735;
    --text-color: #212121;
    --inverse-text-color: white;

    --link-text-color: #0077c2;
    --link-hover-color: #42a5f5;
    --menu-bg-color: #42a5f5;

    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
  }
  
/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2.25rem;
}
h5{
    font-weight: 500;
    font-size: 2rem;
}
p,a{
    font-size: 1.75rem;
}
a{
    color: var(--link-text-color);
}

html{
    font-size: 62.5%;
    color: var(--inverse-text-color);
    background-color: var(--home-bg-color);
}

.see_all{
    color: var(--inverse-text-color);
    margin: 2rem;
    display: block;
    text-align: center;
    
}

.landing-title{
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}


.section{
    padding: 3rem 1rem;
}
.btn-link{
    color: var(--inverse-text-color);
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color:var(--link-text-color);
}

.btn-link:hover {
    background-color: var(--menu-bg-color); /* Green */
    color: var(--inverse-text-color);
  }
/* --------------------------------------------------------- navigation ----------------------------------------------------------- */
#header{
    width: 100%;
}
#main-nav{
    float: right;
}
#main-nav ul{
    text-align: center;
}
#main-nav ul>li{
    display: inline-block;
    font-size: 1rem;
    padding: 1.5rem 2rem;
}
#main-nav ul>li>a{
    color: var(--inverse-text-color);
}
#language-container{
    padding:0;
    margin:0;
}
.img-language{
    width: 2.5rem;
    margin-left: 1rem;
    cursor: pointer;
}




/* --------------------------------------------------------- Landing ----------------------------------------------------------- */

#landing{
    text-align: center;
    padding: 15rem 10% 7.5rem 10%;
    min-height: 400px;
}
#landing--logo{
    width: 12.5rem;
}
.landing--title{
    font-size: 4rem;
    margin: 1rem auto;
}
.landing--description{
    font-size: 2rem;
}
#contact-button{
    color: var(--inverse-text-color);
    border: 2px solid white;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    background-color: transparent;
    text-decoration: none;
    transition-duration: 0.4s;
    margin-top: 7.5rem;
    display: inline-block;

}

#contact-button:hover {
    background-color: var(--menu-bg-color);
    border: 2px solid transparent;
    color: var(--inverse-text-color);

}

/* ---------------------------------------------------------Presentation ----------------------------------------------------------- */
#presentation{
    background-color: whitesmoke;
    color: black;

}
#about-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#about-me > div{
    min-height: 30rem;
    flex-basis: 30rem;
}

#about-me > div:nth-of-type(1){
    flex-grow: 1;
}
#about-me > div:nth-of-type(2){
    flex-grow: 3;
}

#about-me--img{
    width: 25rem;
    height: 25rem;
    display: block;
    border-radius: 100%;
    background-image: url("../img/me.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2.4rem auto;
    
}
#about-me--title{
    text-align: left;
}
#about-me--text{
    text-align: justify;
    line-height: 3rem;
    
}


/* ---------------------------------------------------------Education ----------------------------------------------------------- */

#my_courses,#my_education{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.courses{
    flex-basis: 15rem;
    font-size: 0.25rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem ;
    background-color: white;
    border-radius: 1rem;

}
.courses a{
    font-size: 1.5rem;
    line-height: 0.1rem;
}
.courses img{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 2rem;

}


.education_card{
    margin: 2rem;
    flex-basis: 32rem;

}
.education_card--img{    
    width: 100%;
    height: 20rem;
}
.education_card--container{
    padding: 1rem;
}
.education_card--container h4{
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
}

.education_card--container p{
    text-align: justify;
    line-height: 2.5rem;

}

#unam{
    background-image: url('../img/unam.jpg');
    background-position: center;
    background-size: 100% auto;
}

#english{
    background-image: url('../img/calgary.jpg');
    background-position: center;
    background-size: cover;
}

#continuing-education{
    background-image: url('../img/continue_education.png');
    background-position: center;
    background-size: cover;
}

/* --------------------------------------------------------- Work ----------------------------------------------------------- */
#work{
    padding: 3rem 5%;
}
#project_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    flex-basis: 60rem;
    height: 35rem;
    margin: 2rem;
    transition: 1s;
    box-shadow: 0 3px 20px rgb(255 255 255 / 0.2);

}
.project--description{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.75);
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

}
.project--description h3{
    line-height: 4rem;
}
.project--description p{
    text-align: justify;
    font-size: 2rem;
    line-height: 2.5rem;
}
#fantasmagia{
    background-image: url('../img/fantasmagia.png');
    background-position: center;
    background-size: cover;

}

#enlace{
    background-image: url('../img/enlace.png');
    background-position: center;
    background-size: cover;

}

#buscador_sedes{
    background-image: url('../img/buscador_sedes.png');
    background-position: center;
    background-size: cover;
}

#estudy{
    background-image: url('../img/estudy.png');
    background-position: center;
    background-size: cover;

}

.project:hover .project--description{
    visibility: visible;
    opacity: 1;
}

/* --------------------------------------------------------- Contact ----------------------------------------------------------- */
#contact{
    background-color: whitesmoke;
    color: black;
    height: 50vh;
    padding-top: 10vh;

}

.contact--logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.contact--logos a{
    font-size: 1.25rem;
    color: black;
    padding: 2rem 1.5rem;

}
#platzi_logo{
    width: 3.5rem;
}
.contact--email{
    color: black;
    text-align: center;
    font-size: 3rem;
    display: block;
    text-decoration: underline;
    margin: 3rem auto;
}
#contact h5{
    margin:3rem auto;
    text-align: center;
}